[Desktop Entry]
Type=Application
Version=1.0
Name=1password
Comment=1password startup script
Exec=/snap/bin/1password
StartupNotify=false
Terminal=false
