[Desktop Entry]
Name=pCloud
Comment=pCloud storage sync backup
Exec=/home/bakerg/bin/pcloud
Icon=/home/bakerg/applications/appimages/pcloud.png
Terminal=false
Type=Application
Categories=Development
